[client]
default-character-set = utf8

[mysql]
default-character-set=utf8

[mysqld]
local-infile=0
bind-address = 127.0.0.1
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
server-id=1


innodb_file_per_table=1
innodb_buffer_pool_size=256M
innodb_log_buffer_size=1M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=2
innodb_flush_method=O_DIRECT
innodb_log_files_in_group=2
innodb_use_sys_malloc=0

default_storage_engine=MYISAM
character-set-server=utf8
collation-server=utf8_general_ci
init-connect='SET collation_connection = utf8_general_ci'
init-connect='SET NAMES utf8'

max_connect_errors=10
max_user_connections=100
max_connections=300
connect_timeout=30
wait_timeout=30
interactive_timeout=60

key_buffer_size=1G
myisam_sort_buffer_size=64M
max_allowed_packet=256M

query_cache_type=1
query_cache_size=256M
query_cache_limit=256M
tmp_table_size=256M
max_heap_table_size=256M
thread_cache_size=8192
open_files_limit=8192

##################################
sort_buffer_size=128K
read_buffer_size=128K
read_rnd_buffer_size=128K
join_buffer_size=128K
##################################

[safe_mysqld]
err-log=/var/log/mysqld.log

[mysqldump]
quick
max_allowed_packet=128M


[mysql]
no-auto-rehash

[isamchk]
key_buffer=128M
sort_buffer=16M
read_buffer=8M
write_buffer=8M

[myisamchk]
key_buffer=128M
sort_buffer=16M
read_buffer=8M
write_buffer=8M

[mysqlhotcopy]
interactive-timeout

